/*h1 {
  text-align: center;
  color: rgb(80,80,80);
  margin: 30px;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(200,200,200);
  padding-bottom: 15px;
}*/



.card {
  text-align: center;
  margin:15px;
}

.card-title {
  color: rgb(80,80,80);
}

.add-button {
  color: white;
  border: none;
  background:none !important;
  outline: inherit !important;

}



.card button:hover {
  cursor:pointer;
  opacity: 0.5;
}



.card button:active {
  opacity: 0.1;
}

.edit-button {

  text-align: center;
  opacity: 0.7;
  border: none;
  background:none !important;
  outline: inherit !important;
}



/*.back-button {
  position:absolute;
  right: 10px;
  top: 10px;
  opacity: 0.7;
  border: none;
  background:none !important;
  outline: inherit !important;

}*/



.delete-button {
  /*position:absolute;*/
  /*right: 10px;
  top: 10px;*/
  opacity: 0.7;
  border: none;
  background:none !important;
  outline: inherit !important;

}



.details-button {


  opacity: 0.7;
  border: none;
  background:none !important;
  outline: inherit !important;
}




.details {
  color: #505050;
}

/*.back-button {
  position:absolute;
  right: 10px;
  top: 10px;
}*/



.filters {
  text-align: center;
}





.add-form h1{
  color: white!important;
}
.add-form label{
  font-size: 12pt;
}
.add-form input{
  font-size: 14px;
  width: 50%;
       clear: both;
}

.edit-form h1{
  color: white!important;
}
.edit-form label{
  font-size: 12pt;
}
.edit-form input{
  font-size: 14px;
  width: 50%;
  clear: both;
}

.edit-card-input input {
  width: 100%;
  clear: both;
  text-align: center;
  font-size: 14px;
}
.edit-card-input label {
  font-size: 12pt;
  margin-top: 1%;
  font-weight: bold;


}
